node_modules
cypress.env.json
cypress/videos
cypress/screenshots
.idea/consoleconnect-fe-e2e.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries
.idea/shelf
.idea/codeStylesS
.idea
cypress/config/uat.json
cypress/config/stage.json
.DS_Store
/.vscode